@tailwind base;

@tailwind components;

@tailwind utilities;


.header{
    background-image: url("images/banner_background.jpg");
    max-height: 900px;
    overflow:hidden;
} 
.headeriphone{
    width: 369px;
    height: 459px;
    object-fit: cover;
    object-position: top;
    margin-left: auto;
    margin-right: auto;
}
.h1{
    @apply font-heading;
}

h2{
    @apply text-3xl;
    @apply text-gray-800;
    @apply py-6;
}
.h3{
    @apply text-2xl;
    @apply text-gray-800;
    @apply py-6;
}
.iphonefeature{
    margin-left: -33%;
    /* object-fit:fill; */
}

.feature{
    margin: 0;
    height: 500px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.centre {
    width: 33%;
    margin-right: 33%;
    margin-left: 33%;

}

.btn {
    @apply py-1;
    @apply rounded-full;
}
.btn.btn-blc {
    @apply border-solid;
    @apply border;
    @apply border-gray-300; 
    @apply text-base;
    @apply text-black;

}
.btn.btn-blue{
    @apply bg-blue-500;
    @apply text-base;
    @apply text-white;
}

.formulaire{
    height:40px;
    padding:1px;
    margin: 0;
    display: flex;
    flex-direction:row;
    flex-shrink: 2;
    justify-content: space-between;
    background-color:white;
    border:2px solid gray;
    border-radius: 9999px;
} 

.btncomplx{
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    min-width: 190px;
}
.logobig{
    width:50px;
    height: 50px;
}