@tailwind base;

@tailwind components;

@tailwind utilities;


.header{
    background-image: url("images/banner_background.jpg");
    max-height: 900px;
    overflow:hidden;
} 
.headeriphone{
    width: 369px;
    height: 459px;
    object-fit: cover;
    object-position: top;
    margin-left: auto;
    margin-right: auto;
}
.h1{
    @apply font-heading;
}

h2{
    @apply text-3xl;
    @apply text-gray-800;

}

h3{
    @apply text-2xl;
    @apply text-gray-800;

}

h4 {
    @apply text-xs;
    @apply text-gray-500;
}



.iphonefeature{
    margin-left: -33%;
    /* object-fit:fill; */
}

.feature{
    margin: 0;
    height: 500px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.centre {
    width: 33%;
    margin-right: 33%;
    margin-left: 33%;
    margin-top: 2%;
}

.btn {
    @apply py-1;
    @apply rounded-full;
}
.btn.btn-blc {
    @apply border-solid;
    @apply border;
    @apply border-gray-300; 
    @apply text-base;
    @apply text-black;

}
.btn.btn-blue{
    @apply bg-custom-blue;
    @apply text-base;
    @apply text-white;
}

.formulaire{
    height:40px;
    padding:2px;
    margin: 0;
    display: flex;
    flex-direction:row;
    flex-shrink: 2;
    justify-content: space-between;
    background-color:white;
    border:1px solid gray;
    border-radius: 9999px;
} 
.pict-btn{
    background-color: black;
    height:50px;
    padding:2px;
    border-radius: 9999px;
}
.liste{
    @apply list-none;
    @apply text-gray-500;
    @apply text-xs;
    @apply p-2;
}
.teteliste{
    @apply text-xs;
    @apply font-bold;
    @apply leading-relaxed;
    @apply list-none;
    @apply p-2;
    @apply opacity-50;
}